body{
    margin: 0%;
    padding: 0%;
    background-color: orange;

}
h2{
    color: red;
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-seriaf;
    background-color: rgb(0, 140, 255);
    

    }
img{
    width: 40%;
    hieght: 90%;
    

}
